<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.helpu.database.HelpUMapper">

	<insert id="userRegistration" parameterType="com.helpu.model.request.UserRegistration">
    	insert into user (
    		id,
    		password,
    		name,
    		phone,
    		personal_no,
    		gender,
    		user_type,
    		token,
    		address
    	) 
    	values (
    		#{id},
    		#{password},
    		#{name},
    		#{phone},
    		#{personal_no},
    		#{gender},
    		#{user_type},
    		#{token},
    		#{address}
    	)
    </insert>
    
    <select id="checkID" parameterType="String" resultType="String">
    	select
    		id
    	from
    		user
    	where
    		id = #{id}
    </select>
    
    <select id="login" parameterType="com.helpu.model.request.Login" resultType="String">
    	select
    		user_type
    	from
    		user
    	where
    		id = #{id} and password = #{password}
    </select>
    
    <select id="getIdByPhone" parameterType="String" resultType="String">
    	select
    		id
    	from
    		user
    	where
    		phone = #{phone}
    </select>
    
    <select id="checkHelpRegistration" parameterType="Map" resultType="String">
    	select
    		requester
    	from
    		help
    	where
    		requester = #{requester} and provider = #{provider}
    </select>
    
    <insert id="helpRegistration" parameterType="Map">
  	  insert into help (
    		requester,
    		provider
    	) 
    	values (
    		#{requester},
    		#{provider}
    	)
    </insert>
    
    <delete id="helpRemove" parameterType="com.helpu.model.request.ProviderRemove">
    	delete from
    		help
    	where
    		requester = #{requester} and provider = (select id from user where phone = #{phone})
    </delete>
    
    <!-- <select id="getProviders" parameterType="String" resultType="String">
    
    	select
    		provider
    	from
    		help
        join
            user
        on
            help.provider = user.id
    	where
    		requester = #{requester} and alarm = 'on'
    </select> -->
    
    <select id="getProviders" parameterType="String" resultType="String">
    	select
    		phone
    	from 
    		user
        where
            user_type = 'provider' and login = 'on';
    </select>
    
    <select id="getToken" parameterType="String" resultType="String">
    	select
    		token
    	from
    		user
    	where
    		phone = #{phone}
    </select>
    
     <select id="getTokenByIdx" parameterType="String" resultType="String">
    	select
    		token
    	from
    		user
    	where
    		id = #{id}
    </select>
    
    <select id="getUserName" parameterType="String" resultType="String">
    	select
    		name
    	from
    		user
    	where
    		id = #{id}
    </select>
    
    <select id="getProviderPhones" parameterType="String" resultType="String">
    	select
    		phone
    	from 
    		help
    	join
    		user
    	on
    		help.provider = user.id
        where
            help.requester = #{id};
    </select>
    
    <select id="getUserInfo" parameterType="String" resultType="com.helpu.model.response.GetUserInfoParam">
    	select
    		name,address, phone, grade, point, count
    	from 
    		user
    	where
    		id = #{id}
    </select>
    
    <update id="updateUser" parameterType="com.helpu.model.request.UserUpdate">
    	update
    		user
    	set
    		name =#{name}, phone = #{phone}, address = #{address}
    	where
    		id = #{id}
    </update>
    
    <update id="addHelpCount" parameterType="String">
    	update
    		user
    	set
    		count = count + 1,
    		point = point + 10
    	where
    		id = #{id}
    </update>
    
    <update id="updateToken" parameterType="Map">
    	update
    		user
    	set
    		token = #{token}
    	where
    		id = #{id}
    </update>
    
    <update id="setAlarm" parameterType="Map">
    	update
    		user
    	set
    		alarm = #{alarm}
    	where
    		id = #{id}
    </update>
    
    <update id="updateLogin" parameterType="com.helpu.model.request.Login">
    	update
    		user
    	set
    		login = 'on'
    	where
    		id = #{id}
    </update>
    
    <update id="updateLogout" parameterType="com.helpu.model.request.Logout">
    	update
    		user
    	set
    		login = 'off'
    	where
    		id = #{id}
    </update>
    
    <update id="updateGrade" parameterType="String">
    	update
    		user
    	set
    		grade = grade - 1
    	where
    		id = #{id}
    </update>
    
    <select id="getPoint" parameterType="String" resultType="Integer">
    	select
    		point
    	from
    		user
    	where
    		id = #{id}
    </select>
    
    <select id="getGrade" parameterType="String" resultType="Integer">
    	select
    		grade
    	from
    		user
    	where
    		id = #{id}
    </select>
    
</mapper>
